<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{% static 'css\styles1.css' %}" />
    <title>Академия джедаев</title>
    <style>
        .myfield{
            color: white;
        }
    </style>
</head>
<body id = "bg" style="background-image: url('{% static "images\stars.jpg"%}')";>
<div align="center">
    <h1>Для кандидатов</h1>
    <font class="myfield">
        <table>
            {{ form }}
        </table>
    </font>
    <form action="http://127.0.0.1:8000/question" method="POST" novalidate>
        {% csrf_token %}
        <input type="submit" value="Отправить" >
    </form>
</div>
</body>
</html>